a {
	@apply transition duration-300;
}

[class*='transition'] {
	@apply duration-300;
}

.landing-image {
	height: 60vh;
}

.min-h-screenn {
	min-height: 100vh !important;
	min-height: -webkit-fill-available !important;
}

.h-screenn {
	height: -webkit-fill-available !important;
}