a {
	@apply transition duration-300;
}

[class*='transition'] {
	@apply duration-300;
}

.landing-image {
	height: 60vh;
}

.min-h-screen {
	min-height: -webkit-fill-available;
}

.h-screen {
	height: -webkit-fill-available;
}