html, body {
	@apply bg-prbred;
}

.landing-image {
	height: 50vh;

	@screen md {
		height: 60vh;
	}
}

.min-h-screenn {
	min-height: 100vh !important;
	min-height: -webkit-fill-available !important;
}

.h-screenn {
	height: -webkit-fill-available !important;
}